   <!--Begin-->
<div class="box-adv ng-scope" ng-init="initAdvMenuController(&#39;AdvMenus&#39;)">
    <!-- ngRepeat: item in AdvMenus -->
    <div class="sidebar_banner ng-scope" ng-repeat="item in AdvMenus">
        <div class="img_banner">
            <a href=" ">
                <img src="../../../../images/banner_sidebar/banner_sidebar_img_1.jpg" />
                <!--<img ng-src="../../../../images/banner_sidebar/banner_sidebar_img_1.jpg"
                     data-original="../../../../images/banner_sidebar/banner_sidebar_img_1.jpg" alt="2" class="img-responsive lazy"
                     src="../../../../images/banner_sidebar/banner_sidebar_img_1.jpg" style="display: block;">
                <div class="figcaption"></div>-->
            </a>
        </div>
    </div><!-- end ngRepeat: item in AdvMenus -->
</div>
<!--End-->
<!-- Blog sidebar -->
<div class="sidebar_blogs">
    <h3 title="bài viết mới" class="sidebar_title">
        Bài viết mới nhất
    </h3>
    <div class="blog_content">
        <div class="article_item">
            <div class="article_img">
                <a href=" "> 
                    <img src="../../../../images/product/sanpham_4.jpg" />
                </a>
            </div>
            <div class="article_content clearfix">
                <div class="title">
                    <h4><a href=" " title="Canh Rong Biển Thịt Bò">Bánh trung thu 4  trứng</a></h4>
                </div>
                <div class="article_meta">
                    <div class="article_comment">
                        <i class="fa fa-comments-o" aria-hidden="true"></i> 0 bình luận
                    </div>
                    <div class="article_created">
                        <i class="fa fa-calendar" aria-hidden="true"></i> <time datetime="16/06/2017">16/06/2017</time>
                    </div>
                </div>
                <div class="des">
                    <p>&nbsp;Bước 1: Cho tất cả rong biển vào ngâm trong nước. Sau khoảng 15 phút, vớt ra...&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;</p>
                </div>
                <a class="readmore" href=" ">Đọc tiếp <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- End blog sidebar -->