<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Project Manager</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/angular-toastr.min.css" rel="stylesheet" />
    <link href="~/Content/ng-table.min.css" rel="stylesheet" />


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-app="AcsMainModule" class="sidebar-fixed topnav-fixed dashboard">
    <script src="~/Scripts/jquery-2.1.0.min.js"></script>
    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@

    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-idle.js"></script>
    <script src="~/Scripts/angular-aria.min.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script>
    <script src="~/Scripts/angular-sanitize.min.js"></script>
    <script src="~/Scripts/angular-cookies.min.js"></script>
    <script src="~/Scripts/textAngular.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="~/Scripts/angular-toastr.tpls.js"></script>
    <script src="~/Scripts/angular-ui-router.min.js"></script>
    <script src="~/Scripts/ocLazyLoad.min.js"></script>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <script src="~/Scripts/ng-table.min.js"></script>
    <script src="~/wwwroot/module/module.js"></script>
    <script src="~/wwwroot/module/config.js"></script>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />


    @*<link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css'>
        <link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css'>*@


    <link href="~/Content/sweet-alert.css" rel="stylesheet" />
    <script src="~/wwwroot/service/accountService.js"></script>
    <script src="~/wwwroot/service/cartService.js"></script>
    <script src="~/Scripts/angular-translate.js"></script>
    <script src="~/wwwroot/service/GetDataPreferenceService.js"></script>
    @*// ************** User **************//*@
    <script src="~/wwwroot/controller/user_MainController.js"></script>
    <script src="~/wwwroot/controller/user_LoginController.js"></script>
    <script src="~/wwwroot/controller/user_CartController.js"></script>
    <script src="~/wwwroot/controller/user_DetailProductController.js"></script>
    <script src="~/wwwroot/controller/user_CheckOrderCartController.js"></script>

    @*// ************** Admin *************//*@
    <script src="~/wwwroot/controller/admin_MainController.js"></script>
    <script src="~/wwwroot/controller/admin_LoginController.js"></script>
    <script src="~/wwwroot/controller/404controller.js"></script>
    <script src="~/wwwroot/controller/admin_OrderManagerManager.js"></script>
    <script src="~/wwwroot/controller/admin_ShowDetailOrderController.js"></script>
    <script src="~/wwwroot/controller/admin_ProductManagerController.js"></script>
    <script src="~/wwwroot/controller/admin_AddNewProductController.js"></script>
    <script src="~/Scripts/angular-toastr.tpls.js"></script>
    <script src="~/wwwroot/service/dao.js"></script>

    <script src="~/Scripts/sweet-alert.min.js"></script>
    <script src="~/Scripts/SweetAlert.min.js"></script>
    <script src="~/Scripts/alert.js"></script>

    @RenderBody()


</body>
</html>
